.header a {
  color: #000;
  line-height: 24px;
  font-size: 16px;
  font-weight: 700; }
  .header a:hover {
    text-decoration: none; }

.header-logo {
  background: url(../img/mishka-logo-desktop.png) no-repeat;
  min-height: 72px; }

.header-search {
  background: url(../img/search.png) no-repeat center; }

.header-link:last-child {
  position: relative; }
  .header-link:last-child a {
    text-align: center; }
    .header-link:last-child a:before {
      content: '';
      display: block;
      position: absolute;
      width: 21px;
      height: 18px;
      background: url(../img/cart.png) no-repeat;
      top: 28px;
      left: -15px; }

.header-height {
  min-height: 72px; }

.header .second .d-flex:nth-child(2) {
  padding-left: 0; }

.header .second .d-flex:last-child a {
  color: #888888; }

@media (max-width: 991px) {
  .header .first .col-lg:nth-child(3) {
    order: -3; }
  .header .first .col-lg:nth-child(4) {
    order: -2; }
  .header .first .col-lg:last-child {
    order: -1; } }
